.Searcher-container
{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;
}

.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator.MuiAutocomplete-clearIndicatorDirty{
    display: none;
}

.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
    width: 420px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd{
    border-radius: 100px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon{
        width: 280px;
    }
}